*, *:before, *:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
body{
    height: 100vh;
}
.container{
    padding: 50px 30px;
    position: absolute;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 20px 25px rgba(0,0,0,0.25);
}
.container *:not(i){
    font-family: "Rubik",sans-serif;
}
.colors{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
input[type="color"]{
    -webkit-appearance: none;
    background-color: transparent;
    width: 100px;
    height: 45px;
}
input[type="color"]:hover{
    cursor: pointer;
}
input[type="color"]::-webkit-color-swatch{
    border-radius: 20px;
    border: none;
}
.buttons{
    display: flex;
    margin: 30px 0;
    width: 100%;
    justify-content: space-between;
}
.buttons button{
    height: 35px;
    width: 35px;
    background-color: transparent;
    border: 2px solid #d5d5dc;
    color: #d5d5dc;
    border-radius: 5px;
}
.buttons button:hover{
    cursor: pointer;
}
.rotate-icon i{
    transform: rotate(45deg);
}
.buttons .active{
    border: none;
    background-color: #4a6ee0;
    color: #ffffff;
}
#submit{
    user-select: none;
    display: block;
    margin: 0 auto 30px auto;
    padding: 12px 70px;
    border-radius: 30px;
    font-size: 16px;
    color: #ffffff;
    background-color: #4a6ee0;
    transition: 0.3s;
}
#submit:hover{
    cursor: pointer;
    background: #f441a5;
}
.output{
    margin: 20px 0 40px 0;
    padding: 10px;
    width: 100%;
    font-size: 2.0vmin;
    font-weight: 400;
    color: #3f415f;
    border-radius: 5px;
    background-color: #fcf1fb;
}
#code{
    width: 100%;
    resize: none;
    color: #30304a;
    padding: 10px 20px;
    background-color: transparent;
}
#copy{
    user-select: none;
    position: relative;
    font-size: 14px;
    left: 84%;
    bottom: 8px;
    width: 50px;
    padding: 5px;
    border-radius: 100px;
    color: #ffffff;
    background-color: #03a9f4;
    transition: 0.3s;
}
#copy:hover{
    cursor: pointer;
    background: #f441a5;
}
